{{ block title }} {{ if lang == 'de' }}Lotteriewahl #2{{ else }}Lotttery
decisions #2 {{ endif }} {{ endblock }} {{ block content }}

<style>
  .table-responsive-stack tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .table-responsive-stack td,
  .table-responsive-stack th {
    display: block;
    /*
   flex-grow | flex-shrink | flex-basis   */
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .table-responsive-stack .table-responsive-stack-thead {
    font-weight: bold;
  }

  @media screen and (max-width: 768px) {
    .table-responsive-stack tr {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      border-bottom: 3px solid #ccc;
      display: block;
    }
    /*  IE9 FIX   */
    .table-responsive-stack td {
      float: left\9;
      width: 100%;
    }
  }
</style>

{{ if lang == 'de' }}
<p
  style="
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    font-size: 25px;
  "
>
  Es gibt zehn Szenarien, in denen Sie immer zwischen zwei Lotterien (A und B)
  wählen müssen. Die Auszahlungsbeträge sind in allen Szenarien identisch, aber
  die Wahrscheinlichkeiten ändern sich in jedem Szenario.
</p>

<p
  style="
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    font-size: 25px;
    font-weight: bold;
  "
>
  Sie beginnen mit einem Betrag von {{ C.HLLFinitial }} Punkten.
</p>

<p
  style="
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    font-size: 25px;
    font-weight: bold;
  "
>
  Je nachdem, ob Sie eine Lotterie gewinnen oder verlieren, können Sie einen
  großen oder einen kleinen Betrag <b>verlieren.</b>
</p>

<p
  style="
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    font-size: 25px;
  "
>
  Die Wahrscheinlichkeit, eine Lotterie zu gewinnen, ist in der Zeile angegeben.
  Bitte beachten Sie, dass die Gewinnwahrscheinlichkeit für beide Lotterien
  innerhalb einer Reihe exakt gleich ist
</p>

<p
  style="
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    font-size: 25px;
  "
>
  <span style="font-weight: bold">Lotterie A</span> <br />
  Sie verlieren nur
  <span style="text-decoration: underline">{{ C.A_win_loss }}</span> Punkte,
  wenn Sie in der Lotterie
  <span style="text-decoration: underline">gewinnen</span>.
  <br />
  Sie erleiden jedoch einen Verlust von
  <span style="text-decoration: underline">{{ C.A_lose_loss }}</span> Punkte,
  wenn Sie in der Lotterie
  <span style="text-decoration: underline">verlieren</span>.
</p>

<p
  style="
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    font-size: 25px;
  "
>
  <span style="font-weight: bold">Lotterie B</span> <br />
  Sie verlieren nur
  <span style="text-decoration: underline">{{ C.B_win_loss }}</span> Punkte,
  wenn Sie in der Lotterie
  <span style="text-decoration: underline">gewinnen</span>.
  <br />
  Sie erleiden jedoch einen Verlust von
  <span style="text-decoration: underline">{{ C.B_lose_loss }}</span> Punkte,
  wenn Sie in der Lotterie
  <span style="text-decoration: underline">verlieren</span>.
</p>
{{ else }}
<p
  style="
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    font-size: 25px;
  "
>
  There are ten scenarios where you have to decide between two lotteries (A and
  B). The payoffs are identical across all scenarios, but the probabilities
  vary.
</p>

<p
  style="
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    font-size: 25px;
    font-weight: bold;
  "
>
  You begin with an endowment of {{ C.HLLFinitial }} p.
</p>

<p
  style="
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    font-size: 25px;
  "
>
  You stand to <b>lose</b> either a large or a small portion of your endowment
  depending on whether you win a lottery.
</p>

<p
  style="
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    font-size: 25px;
  "
>
  The probability of winning a lottery is given in the row. Note that regardless
  of which lottery you choose in each row, the probability of winning is
  identical for both lotteries in the same row. For each scenario, you must
  select which lottery you want to play.
</p>

<p
  style="
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    font-size: 25px;
  "
>
  <span style="font-weight: bold">Lottery A</span> <br />
  You will only lose
  <span style="text-decoration: underline">{{ C.A_win_loss }}</span> p if you
  <span style="text-decoration: underline">win</span> the lottery.
  <br />
  However you will lose
  <span style="text-decoration: underline">{{ C.A_lose_loss }}</span> p if you
  <span style="text-decoration: underline">lose</span> the lottery.
</p>

<p
  style="
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    font-size: 25px;
  "
>
  <span style="font-weight: bold">Lottery B</span> <br />
  You will only lose
  <span style="text-decoration: underline">{{ C.B_win_loss }}</span> p if you
  <span style="text-decoration: underline">win</span> the lottery.
  <br />
  However you will lose
  <span style="text-decoration: underline">{{ C.B_lose_loss }}</span> p if you
  <span style="text-decoration: underline">lose</span> the lottery.
</p>
{{ endif }}

<br /><br />

<div class="container">
  <table
    class="table table-bordered table-striped table-responsive-stack"
    id="tableOne"
  >
    <thead class="thead-dark">
      <tr>
        <th>
          {{ if lang == 'de' }}Gewinnwahrscheinlichkeit{{ else }}Probability of
          winning{{ endif }}
        </th>
        <th style="text-align: center; white-space: nowrap">
          {{ if lang == 'de' }}Auswahl{{ else }}Choice{{ endif }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ if lang == 'de' }}Sie haben eine 10%ige Chance zu gewinnen.{{ else
          }}You have a 10% chance of winning.{{ endif }}<br />
        </td>
        <td style="text-align: center">{{ formfield 'choice1LF' label="" }}</td>
      </tr>
      <tr>
        <td>
          {{ if lang == 'de' }}Sie haben eine 20%ige Chance zu gewinnen.{{ else
          }}You have a 20% chance of winning.{{ endif }}<br />
        </td>
        <td style="text-align: center">{{ formfield 'choice2LF' label="" }}</td>
      </tr>
      <tr>
        <td>
          {{ if lang == 'de' }}Sie haben eine 30%ige Chance zu gewinnen.{{ else
          }}You have a 30% chance of winning.{{ endif }}<br />
        </td>
        <td style="text-align: center">{{ formfield 'choice3LF' label="" }}</td>
      </tr>
      <tr>
        <td>
          {{ if lang == 'de' }}Sie haben eine 40%ige Chance zu gewinnen.{{ else
          }}You have a 40% chance of winning.{{ endif }}<br />
        </td>
        <td style="text-align: center">{{ formfield 'choice4LF' label="" }}</td>
      </tr>
      <tr>
        <td>
          {{ if lang == 'de' }}Sie haben eine 50%ige Chance zu gewinnen.{{ else
          }}You have a 50% chance of winning.{{ endif }}<br />
        </td>
        <td style="text-align: center">{{ formfield 'choice5LF' label="" }}</td>
      </tr>
      <tr>
        <td>
          {{ if lang == 'de' }}Sie haben eine 60%ige Chance zu gewinnen.{{ else
          }}You have a 60% chance of winning.{{ endif }}<br />
        </td>
        <td style="text-align: center">{{ formfield 'choice6LF' label="" }}</td>
      </tr>
      <tr>
        <td>
          {{ if lang == 'de' }}Sie haben eine 70%ige Chance zu gewinnen.{{ else
          }}You have a 70% chance of winning.{{ endif }}<br />
        </td>
        <td style="text-align: center">{{ formfield 'choice7LF' label="" }}</td>
      </tr>
      <tr>
        <td>
          {{ if lang == 'de' }}Sie haben eine 80%ige Chance zu gewinnen.{{ else
          }}You have a 80% chance of winning.{{ endif }}<br />
        </td>
        <td style="text-align: center">{{ formfield 'choice8LF' label="" }}</td>
      </tr>
      <tr>
        <td>
          {{ if lang == 'de' }}Sie haben eine 90%ige Chance zu gewinnen.{{ else
          }}You have a 90% chance of winning.{{ endif }}<br />
        </td>
        <td style="text-align: center">{{ formfield 'choice9LF' label="" }}</td>
      </tr>
      <tr>
        <td>
          {{ if lang == 'de' }}Sie haben eine 100%ige Chance zu gewinnen.{{ else
          }}You have a 100% chance of winning.{{ endif }}<br />
        </td>
        <td style="text-align: center">
          {{ formfield 'choice10LF' label="" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
{{ next_button }}

<script>
  $(document).ready(function () {
    // inspired by http://jsfiddle.net/arunpjohny/564Lxosz/1/
    $(".table-responsive-stack")
      .find("th")
      .each(function (i) {
        $(".table-responsive-stack td:nth-child(" + (i + 1) + ")").prepend(
          '<span class="table-responsive-stack-thead">' +
            $(this).text() +
            ":</span> "
        );
        $(".table-responsive-stack-thead").hide();
      });

    $(".table-responsive-stack").each(function () {
      var thCount = $(this).find("th").length;
      var rowGrow = 100 / thCount + "%";
      //console.log(rowGrow);
      $(this).find("th, td").css("flex-basis", rowGrow);
    });

    function flexTable() {
      if ($(window).width() < 768) {
        $(".table-responsive-stack").each(function (i) {
          $(this).find(".table-responsive-stack-thead").show();
          $(this).find("thead").hide();
        });

        // window is less than 768px
      } else {
        $(".table-responsive-stack").each(function (i) {
          $(this).find(".table-responsive-stack-thead").hide();
          $(this).find("thead").show();
        });
      }
      // flextable
    }

    flexTable();

    window.onresize = function (event) {
      flexTable();
    };

    // document ready
  });
</script>

{{ endblock }}
