{% extends "global/Page.html" %}

{% load otree static %}



{% block title %}

    Informed Consent

{% endblock %}



{% block content %}



    <p>

        Thank you for participating in this economic experiment.

        The research team consists of researchers from the Goethe University Frankfurt.

        On the following screens you will find the instructions for the experiment.

        The experiment will be conducted exactly as described in the instructions.

    </p>



    <p>

        During the experiment you make decisions on your computer with which you can earn money.

        What you earn depends on your decisions and possibly the decisions of other participants in the experiment.

        Your earnings will be paid to you via PayPal after the experiment.

    </p>



    <p>

        By participating in the experiment, you consent to the data collected being used for research purposes.

        All members of the research team  will only analyze anonymized data.

        At no time will we link the behavior in the experiment to your personal data in the FLEX database.

        FLEX's privacy policy will be followed.

    </p>



    <p>

        Participation in the experiment is voluntary. You can cancel the experiment at any time.

        In this case, unfortunately, we cannot pay you any money.

        An early termination will not have a negative impact on your relationship with any of the Research Team person or the institutions mentioned above.

        However, premature termination of the experiment will result in the collected data becoming useless.

    </p>



    <p>

        Please do not communicate with the other participants unless this is explicitly allowed.

        A summary of the study will be made available on the FLEX homepage after its publication.

    </p>



    <p>

        By clicking Continue, you confirm (i) that you understand that you have been asked for your consent to participate in the experiment;

        (ii) that you have read and understood the information about the experiment; (iii) that you consent to the use of the

        used for research purposes; (iv) that you are participating voluntarily and understand that you can stop the experiment at any time; and

        discontinue the experiment at any time; (v) that you are at least 18 years of age.

    </p>



    {% next_button %}





{% endblock %}

