{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Informierte Zustimmung
{% endblock %}

{% block content %}

    <p> Vielen Dank, dass Sie an diesem wirtschaftswissenschaftlichen Entscheidungsexperiment teilnehmen. Das Forschungsteam besteht
        aus Forschern der Goethe Universität Frankfurt. Auf den folgenden Bildschirmen finden Sie die Instruktionen für das Experiment.
        Das Experiment wird genau so durchgeführt, wie in den Instruktionen beschrieben.  </p>

    <p> Während des Experiments treffen Sie Entscheidungen an Ihrem Computer. Während des Experiments können Sie Geld verdienen.
        Die Höhe des Geldbetrags hängt von Ihren Entscheidungen und möglicherweise den Entscheidungen anderer Teilnehmer
        im Experiment ab. Ihr Verdienst wird Ihnen am Ende des Experiments in bar ausbezahlt. Den Erhalt des Geldbetrags müssen Sie uns aus
        buchhalterischen Gründen mit Ihrem Namen und einer Unterschrift bestätigen.
    </p>

    <p> Durch Ihre Teilnahme an dem Experiment stimmen Sie zu, dass die erhobenen Daten für Forschungszwecke genutzt werden. Alle Mitglieder des Forschungsteams
        werden nur anonymisierte Daten analysieren. Wir werden zu keiner Zeit das Verhalten in dem Experiment mit Ihren persönlichen Daten,
        in der FLEX-Datenbank verknüpfen. Die Datenschutz Bestimmungen von FLEX werden eingehalten.
    </p>

    <p> Die Teilnahme an dem Experiment ist freiwillig. Sie können das Experiment jederzeit abbrechen. Bitte melden Sie sich, falls Sie dies wünschen.
        In diesem Fall können wir Ihnen leider kein Geld auszahlen. Ein vorzeitiger Abbruch wird keinen negativen Einfluss auf Ihr Verhältnis zu einer
        Person des Forschungsteams oder den oben genannten Institutionen haben. Allerdings führt ein vorzeitiger Abbruch des Experiments dazu, dass
        die erhobenen Daten nutzlos werden.
    </p>

    <p> Bitte kommunizieren Sie zu keiner Zeit mit den anderen Teilnehmern, wenn dies nicht explizit erlaubt wird. Wenn Sie Fragen haben, heben Sie bitte die Hand.
        Ein Experimentator wird dann zu Ihnen kommen. Die Benutzung Ihres Telefons ist während des gesamten Experiments nicht gestattet.
        Eine Zusammenfassung der gesamten Studie wird nach deren Veröffentlichung auf der FLEX Homepage zur Verfügung gestellt.
    </p>

    <p> Durch Klicken auf Weiter erklären Sie, (i) dass Sie verstehen, dass Sie nach Ihrer Einwilligung zur Teilnahme an dem Experiment gefragt wurden;
        (ii) dass Sie die Informationen über das Experiment gelesen und verstanden haben; (iii) dass Sie damit einverstanden sind, dass die
        erhobenen Daten für Forschungszwecke genutzt werden; (iv) dass Sie freiwillig teilnehmen und verstanden haben, dass Sie das Experiment
        jederzeit abbrechen können; (v) dass Sie mindestens 18 Jahre alt sind.
    </p>

    {% next_button %}


{% endblock %}
