.otree-body{
    margin:0;
    max-width: 20cm;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.page-header{
    margin: 0;
    display: none;
    padding-top: 0;
}

.otree-title{
  display: none;
  margin: 0;
}

.otree-timer{
  display: none;
}

.my-timer{
  display: block;
  grid-column: 2 / span 3;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  font-size: 1rem;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.solution-error{
    display: none;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: rgb(255, 179, 153);
    text-align: center;
    font-weight: bold;
    margin-top: 4vw;
}

.solution-success{
    display: none;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: rgb(196, 221, 187);
    text-align: center;
    font-weight: bold;
    margin-top: 4vw;
}

.task-container{
    display: grid;
    width: 100%;
    border: 1px solid rgb(226, 238, 221);
    padding: 10px;
    align-items: center;
    justify-items: center;
    
 
}



.word-card{
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto auto;
  grid-row-gap: 0;
  text-align: center; 
  border: 1px solid black;
}

.word-letter{
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(196, 221, 187);
    font-weight: bold;
}

.word-letter:before{
  content: attr(dataText);
}

.word-code{
    font-size: 1.25rem;
    width: 100%;
    text-align: center;

}

.legend-container{
    display: grid;
    width: 100%;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(5, 19%);
    grid-template-rows: auto;
    grid-column-gap: 1.25%;
    grid-row-gap: 1vw;
}

.legend-card{
  display: grid;
  width: 100%;
  grid-template-columns: 1;
  grid-template-rows: auto auto;
  grid-row-gap: 0;
  text-align: center; 
  border: 1px solid black;
}

.legend-letter{
  font-size: 1rem;
    width: 100%;
  font-weight: bold;
  text-align: center;
  background-color: #cccccc;
}

.legend-letter:before{
  content: attr(dataText);
}

.legend-code{
  font-size: .75rem;
  width: 100%;
  text-align: center;
}

.highlighted{
    box-shadow: 0 0 1vw .7vw rgba(81, 203, 238, 1);
}

.my-button{
    display: block;
    width: 100%;
    height: 100%;
    grid-column: 5;
    grid-row: 6;
    -webkit-border-radius:0px;
}

